:host > sidebar > .sidebar {
    width:260px!important;
}
:host > filter-detail > sidebar > .sidebar {
    width:255px!important;
}
:host .sidebar {
    background:white!important;
    overflow-x:hidden;
}
sidebar .pusher {
    top:0;
    position:absolute!important;
}
:host .sidebar > .segment.sidebar-content {
    border-bottom:0;
}