<div class="ui segment inverted grey tertiary">

    <div class="ui left icon fluid large input">
        <input #term type="text" placeholder="Le search by protein name, UniProt, peptide, and gene description terms" (keyup.enter)="search(term.value)">
        <i class="search icon"></i>
        <button class="ui teal right labeled icon button">
            Filter
            <i class="filter icon"></i>
        </button>
    </div>
    <div id="filters" class="ui large blue labels">
        <div class="ui label">
            Experiment Type:
            <div class="detail">isotop</div>
            <i class="delete icon"></i>
        </div>
        <div class="ui label">
            Species:
            <div class="detail">human</div>
            <i class="delete icon"></i>
        </div>
    </div>
</div>

<table *ngIf="data" class="ui table">
    <tr *ngFor="let row of data">
        <td *ngFor="let column of row">{{ column }}</td>
    </tr>
</table>