
<div [ngClass]="{ 'search-centered': !term.value.length, 'segment': term.value.length }" class="search-wrap ui inverted grey attached">
    <div [ngClass]="{ 'loading': searching }" class="ui fluid left icon action input">
        <i class="search icon"></i>
        <input #term type="text" placeholder="Le search by protein name" autofocus (keyup.enter)="search(term.value)">
        <div class="ui icon primary button" (click)="filter.toggle()">
            Filter
            <i class="filter right icon"></i>
        </div>
    </div>
</div>

<div *ngIf="activeFilters?.length" class="ui segment attached">
    <filter-list [activeFilters]="activeFilters" (remove)="onFilterRemove($event.value)" (edit)="onFilterEdit($event.value)"></filter-list>
</div>
<filter [filters]="filters" (filtersChange)="onFiltersChange($event.value)"></filter>

<div *ngIf="data" class="ui wide fluid container">
    <table *ngIf="data.length" class="ui celled table">
        <thead>
            <tr>
                <th>Uniprot</th>
                <th>Symbol</th>
                <th colspan="6">Description</th>
            </tr>           
            <tr>
                <th>Experiment Name</th>
                <th>Experiment Type</th>
                <th>Organism</th>
                <th>User</th>
                <th>Probe</th>
                <th>Inhibitor</th>
                <th class="center aligned one wide">QP</th>
                <th class="center aligned one wide">Mean Ratio</th>
            </tr>
        </thead>
        <tbody *ngFor="let row of data">
            <tr class="active">
                <td>{{ row.uniprot }}</td>
                <td>{{ row.symbol }}</td>
                <td colspan="6">{{ row.description }}</td>
            </tr>
            <tr *ngFor="let column of row.data" (click)="router.navigate(['/experiment', column.experiment.id])">
                <td>{{ column.experiment.name }}</td>
                <td>{{ column.experiment.experiment_type.name }}</td>
                <td>{{ column.experiment.organism.display_name }}</td>
                <td>{{ column.experiment.user.email }}
                <td>{{ column.experiment.probe.name }}</td>
                <td>{{ column.experiment.inhibitor.name }}</td>
                <td class="center aligned" [style.background-color]="scale(column.qp/100)">{{ column.qp }}</td>
                <td class="center aligned" [style.background-color]="scale(column.mean_ratio/20)">{{ column.mean_ratio }}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!data.length" class="ui warning message">No results for your query!</div>
</div>