env
bower_components
node_modules
semantic
*.pyc
*.pid
*.map
.vagrant
vagrant-sync
typings
cravattdb/static/app/**/*.js
cravattdb/static/config/vendor.js
cravattdb/static/config/polyfills.js
cravattdb/static/dist
# index template is built by webpack
cravattdb/templates/index.html
secrets.prod.yml
secrets.override.yml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk