amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
blinker==1.4
celery==3.1.23
Flask==0.10.1
Flask-Failsafe
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
marshmallow==2.7.1
passlib==1.6.5
psycopg2==2.6.1
pytz==2016.3
PyYAML==3.11
redis==2.10.5
requests==2.9.1
SQLAlchemy==1.0.12
Werkzeug==0.11.8
WTForms==2.1
