<h1 class="ui dividing header">Cravegas 0.1 | Import le datasets</h1>

<div class="ui error message" ng-show="import.errors.length && import.showErrors">
    <i class="close icon" ng-click="import.showErrors = false"></i>
    <div class="header">
        There were some errors with your submission
    </div>
    <ul class="list">
        <li ng-repeat="error in import.errors">{{ error }}</li>
    </ul>
</div>

<div class="ui ordered steps">
  <div class="active step">
    <div class="content">
      <div class="title">Shipping</div>
      <div class="description">Choose your shipping options</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
      <div class="title">Confirm Order</div>
      <div class="description">Verify order details</div>
    </div>
  </div>
</div>




<form class="ui form" name="upload">
    <div class="ui large icon input seven wide">
      <input type="text" placeholder="Search large...">
    </div>

    <div class="ui seven column grid">
        <div class="row">
            <span class="column">Dataset Name</span>
            <span class="column">Description</span>
            <span class="column">Organism</span>
            <span class="column">Experiment Type</span>
            <span class="column">Probe</span>
            <span class="column">Inhibitor</span>
            <span class="column">Instrument</span>
        </div>

        <div class="row" ng-repeat="dataset in import.datasets">
            <div class="field column">
                <input type="text" ng-model="import.data[$index].name" required>
            </div>
            <div class="field column">
                <input type="text" ng-model="import.data[$index].description" required>
            </div>

            <div class="field column">
                <select class="ui dropdown" ng-model="import.data[$index].organism" required>
                    <option ng-repeat="organism in import.bootstrap.organisms" value="{{ organism.id }}">{{ organism.display_name | titlecase }}</option>
                </select>
            </div>

            <div class="field column">
                <select class="ui dropdown" ng-model="import.data[$index].experimentType" required>
                    <option ng-repeat="experimentType in import.bootstrap.experiment_types" value="{{ experimentType.id }}">{{ experimentType.name | titlecase }}</option>
                </select>
            </div>

            <div class="field column">
                <select class="ui dropdown" ng-model="import.data[$index].probe">
                    <option ng-repeat="probe in import.bootstrap.probes" value="{{ probe.id }}">{{ probe.name | titlecase }}</option>
                </select>
            </div>

            <div class="field column">
                <select class="ui dropdown" ng-model="import.data[$index].inhibitor">
                    <option ng-repeat="inhibitor in import.bootstrap.inhibitors" value="{{ inhibitor.id }}">{{ inhibitor.name | titlecase }}</option>
                </select>
            </div>

            <div class="field column">
                <select class="ui dropdown" ng-model="import.data[$index].inhibitor">
                    <option ng-repeat="inhibitor in import.bootstrap.inhibitors" value="{{ inhibitor.id }}">{{ inhibitor.name | titlecase }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="ui primary button column" type="submit" ng-click="import.submit()">Submit</button>
    </div>
</form>