<!DOCTYPE html>
<html>
<head>
    <title>Cravatt Lab Proteomics Pipeline</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="stylesheet" type="text/css" href="/static/node_modules/semantic-ui-css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- 1. Load libraries -->
    <script src="/static/node_modules/zone.js/dist/zone.js"></script>
    <script src="/static/node_modules/reflect-metadata/Reflect.js"></script>

    <!-- Polyfill(s) for older browsers -->
    <script src="/static/node_modules/es6-shim/es6-shim.min.js"></script>

    <script src="/static/node_modules/systemjs/dist/system.js"></script>
    <script src="/static/node_modules/rxjs/bundles/Rx.min.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="/static/systemjs.config.js"></script>

    <script>
      System.import('app').catch(function(err){ console.error(err);  });
    </script>

    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/semantic-ui-css/semantic.min.js"></script>
    {% if bootstrap %}
    <!-- bootstrapping code for application -->
    <script type="text/javascript">
        window.bootstrap = {{ bootstrap | tojson | safe }};
    </script>
    {% endif %}
</head>
<body ng-app="cravattdb">
    <app class="ui fluid container">Loading...</app>
    <div>User id: {{ id }}</div>
    <div>Meta: {{ meta }}</div>
    <div>Status: {{ info }}</div>
</body>
</html>