.attached.menu {
    margin:0px!important;
}
.padded.container {
    margin-top:3em;
}
.wide.fluid.container {
    padding:3em;
}

#file-select {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

dl {
    width:40%;
}

dt {
    float: left;
    margin-right: 10%;
    max-width: 30%;
    font-weight: bold;
}

dd {
    color: grey;
    margin-left: 40%;
    margin-bottom: .5em;
}

dd::after {
    content: " ";
    display: block;
    clear: left;
}

#controls {
    margin-bottom:1em;
}

#controls > div {
    display: block;
    margin-top: 0.5em;
}

#filters {
    margin-top:1em;
}