<h1 class="ui dividing header">Cravegas 0.1</h1>

<div class="ui error message" ng-show="main.errors.length && main.showErrors">
    <i class="close icon" ng-click="main.showErrors = false"></i>
    <div class="header">
        There were some errors with your submission
    </div>
    <ul class="list">
        <li ng-repeat="error in main.errors">{{ error }}</li>
    </ul>
</div>

<form class="ui form" name="upload">
    <div class="six wide required field">
        <label>Dataset Name</label>
        <input type="text" placeholder="Dataset Name" ng-model="main.data.name" required>
    </div>

    <div class="fields">
        <div class="six wide required field">
            <label>IP2 Username</label>
            <input type="text" placeholder="Username" ng-model="main.data.username" required>
        </div>

        <div class="six wide required field">
            <label>IP2 Password</label>
            <input type="password" placeholder="Password" ng-model="main.data.password" required>
        </div>
    </div>

    <div class="six wide required field">
        <label>Organism</label>
        <select class="ui dropdown" ng-model="main.data.organism" required>
            <option value="">Select Species</option>
            <option value="human">Human</option>
            <option value="mouse">Mouse</option>
            <option value="bcg">BCG</option>
            <option value="tb">TB</option>
            <option value="celegans">C. elegans</option>
        </select>
    </div>

    <div class="six wide required field">
        <label>Experiment Type</label>
        <select class="ui dropdown" ng-model="main.data.experiment_type" required>
            <option value="">Select Experiment Type</option>
            <option value="silac">SILAC</option>
            <option value="isotop">ISOTOP</option>
            <option value="redime">ReDiMe</option>
            <option value="n15">N15</option>
        </select>
    </div>

    <div class="field">
        <table class="ui basic table" ng-show="main.files.length">
            <thead>
                <tr>
                    <th width="80%">Name</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in main.files">
                    <td><strong>{{ item.name }}</strong></td>
                    <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>    
                </tr>
            </tbody>
        </table>

        <div class="ui progress" data-percent="{ main.progress }" ng-class="{ success: main.progress == 100 }" ng-show="main.progress > 0">
            <div class="bar" style="transition-duration: 300ms;" ng-style="{ 'width': main.progress + '%' }">
                <div class="progress">{{ main.progress }}%</div>
            </div>
        </div>
    </div>

    <button type="button" class="ui labeled button btn-file">
        <i class="file outline icon"></i> Select RAW Files
        <input type="file" ngf-select ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" ng-model="main.files" required />
    </button>

    <button class="ui primary button" type="submit" ng-click="main.submit()" ng-class="{ disabled : !upload.$valid }">Submit</button>
</form>