<div class="ui padded container">
    <h1 class="ui dividing header">Upload a new dataset</h1>

    <div class="ui error message" *ngIf="errors.length && showErrors">
        <i class="close icon" (click)="showErrors = false"></i>
        <div class="header">
            There were some errors with your submission
        </div>
        <ul class="list">
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <form [formGroup]="autoForm" class="ui form" name="upload" (ngSubmit)="onSubmit(f.value)">
        <div class="six wide required field">
            <label>Dataset Name</label>
            <input type="text" placeholder="Dataset name" formControlName="name" required>
        </div>

        <div class="six wide field">
            <label>Description</label>
            <textarea rows="2"></textarea>
        </div>

        <div class="six wide required field">
            <label>Organism</label>
            <select class="ui search selection dropdown" formControlName="organism" required>
                <option value="">Select species</option>
                <option *ngFor="let organism of data?.organisms" value="{{ organism.id }}">{{ organism.name }}</option>
            </select>
        </div>

        <div class="six wide required field">
            <label>Experiment Type</label>
            <select class="ui search selection dropdown" formControlName="type" required>
                <option value="">Select experiment type</option>
                <option *ngFor="let experimentType of data?.experiment_types" value="{{ experimentType.id }}">{{ experimentType.name }}</option>
            </select>
        </div>

        <div class="six wide field">
            <label>Instrument</label>
            <select class="ui search selection dropdown" formControlName="instrument">
                <option value="">Select instrument</option>
                <option *ngFor="let instrument of data?.instruments" value="{{ instrument.id }}">{{ instrument.name }}</option>
            </select>
        </div>

        <h4 class="ui dividing header">Treatment Information</h4>

        <div class="six wide field">
            <label>Treatment Type</label>
            <select class="ui search selection dropdown" formControlName="treatment_type">
                <option value="">Select treatment type</option>
                <option *ngFor="let treatment_type of data?.treatment_types" value="{{ treatment_type.id }}">{{ treatment_type.name }}</option>
            </select>
        </div>

        <div class="six wide field">
            <label>Proteomic Fraction</label>
            <select class="ui search selection dropdown" formControlName="proteomic_fraction">
                <option value="">Select proteomic fraction</option>
                <option *ngFor="let proteomic_fraction of data?.proteomic_fractions" value="{{ proteomic_fraction.id }}">{{ proteomic_fraction.name }}</option>
            </select>
        </div>

        <div class="three fields" formGroupName="probe">
            <div class="six wide field">
                <label>Probe</label>
                <select class="ui search selection dropdown" formControlName="id">
                    <option value="">Select probe</option>
                    <option *ngFor="let probe of data?.probes" value="{{ probe.id }}">{{ probe.name }}</option>
                </select>
            </div>

            <div class="three wide required field">
                <label>Probe Concentration</label>
                <div class="ui right labeled input">
                    <input type="text" placeholder="Probe concentration" formControlName="concentration">
                    <div class="ui dropdown label">
                        <div class="text">&micro;M</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">nM</div>
                            <div class="item">&micro;M</div>
                            <div class="item">mM</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three wide required field">
                <label>Treatment Time</label>
                <div class="ui right labeled input">
                    <input type="text" placeholder="Treatment time" formControlName="time">
                    <div class="ui basic label">hours</div>
                </div>
            </div>
        </div>

        <div class="three fields" formGroupName="inhibitor">
            <div class="six wide field">
                <label>Inhibitor</label>
                <select class="ui search selection dropdown" formControlName="id">
                    <option value="">Select inhibitor</option>
                    <option *ngFor="let inhibitor of data?.inhibitors" value="{{ inhibitor.id }}">{{ inhibitor.name }}</option>
                </select>
            </div>

            <div class="three wide required field">
                <label>Inhibitor Concentration</label>
                <div class="ui right labeled input">
                    <input type="text" placeholder="Inhibitor concentration" formControlName="concentration">
                    <div class="ui dropdown label">
                        <div class="text">&micro;M</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">nM</div>
                            <div class="item">&micro;M</div>
                            <div class="item">mM</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="three wide required field">
                <label>Treatment Time</label>
                <div class="ui right labeled input">
                    <input type="text" placeholder="Treatment time" formControlName="time">
                    <div class="ui basic label">hours</div>
                </div>
            </div>
        </div>

        <div class="grouped fields">
            <label>Inhibitor treated sample is:</label>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Light</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Heavy</label>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="six wide field">
                <label>Sample Type</label>
                <select class="ui search selection dropdown" formControlName="sample_type">
                    <option value="">Select sample type</option>
                    <option *ngFor="let sample_type of data?.sample_types" value="{{ sample_type.id }}">{{ sample_type.name }}</option>
                </select>
            </div>

            <div class="six wide field">
                <label>Cell Type</label>
                <select class="ui search selection dropdown" formControlName="cell_type">
                    <option value="">Select cell type</option>
                    <option *ngFor="let cell_type of data?.cell_types" value="{{ cell_type.id }}">{{ cell_type.name }}</option>
                </select>
            </div>
        </div>

        <h4 class="ui dividing header">Search and Quantification</h4>

        <div class="six wide required field">
            <label>IP2 Username</label>
            <input type="text" placeholder="IP2 username" formControlName="ip2_username" required>
        </div>

        <div class="six wide required field">
            <label>IP2 Password</label>
            <input type="password" placeholder="IP2 password" formControlName="ip2_password" required>
        </div>

        <div *ngIf="files.length" class="field">
            <table class="ui basic table">
                <thead>
                    <tr>
                        <th width="80%">Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of files">
                        <td><strong>{{ item.name }}</strong></td>
                        <td nowrap>{{ item.size/1024/1024 | number:1.2.2 }} MB</td>    
                    </tr>
                </tbody>
            </table>
            <div class="ui progress">
                <div class="bar" [style.width]="progress + '%'">
                    <div class="progress"></div>
                </div>
                <div class="label">Uploading Files</div>
            </div>
        </div>

        <button class="ui primary button" type="submit">Submit</button>

        <button type="button" class="ui button" onclick="document.getElementById('file-select').click()">
            <i class="file outline icon"></i> Select Raw Files
            <input type="file" id="file-select" multiple (change)="onFileChange($event)" required />
        </button>
    </form>
</div>