<div class="ui wide fluid container">
    <h1 class="ui dividing header">Upload a new dataset</h1>

    <div class="ui error message" *ngIf="errors.length && showErrors">
        <i class="close icon" (click)="showErrors = false"></i>
        <div class="header">
            There were some errors with your submission
        </div>
        <ul class="list">
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <form [formGroup]="form" class="ui form" name="upload" (ngSubmit)="onSubmit(form.value)">
        <div class="six wide required field">
            <label>Dataset Name</label>
            <input type="text" placeholder="Dataset name" formControlName="name" required>
        </div>

        <div class="six wide field">
            <label>Description</label>
            <textarea rows="2" formControlName="description"></textarea>
        </div>

        <div class="six wide required field">
            <label>Organism</label>
            <select class="ui search selection dropdown" required formControlName="organism">
                <option value="">Select species</option>
                <option *ngFor="let organism of data?.organisms" value="{{ organism.id }}">{{ organism.name }}</option>
            </select>
        </div>

        <div class="six wide required field">
            <label>Experiment Type</label>
            <select class="ui search selection dropdown" required formControlName="type">
                <option value="">Select experiment type</option>
                <option *ngFor="let experimentType of data?.experiment_types" value="{{ experimentType.id }}">{{ experimentType.name }}</option>
            </select>
        </div>

        <div class="six wide field">
            <label>Instrument</label>
            <select class="ui search selection dropdown" formControlName="instrument">
                <option value="">Select instrument</option>
                <option *ngFor="let instrument of data?.instruments" value="{{ instrument.id }}">{{ instrument.name }}</option>
            </select>
        </div>

        <h2 class="ui header">Sample Information</h2>

        <div class="six wide field">
            <label>Proteomic Fraction</label>
            <select class="ui search selection dropdown" formControlName="proteomic_fraction">
                <option value="">Select proteomic fraction</option>
                <option *ngFor="let proteomicFraction of data?.proteomic_fractions" value="{{ proteomicFraction.id }}">{{ proteomicFraction.name }}</option>
            </select>
        </div>

        <div class="two fields">
            <div class="six wide field">
                <label>Sample Type</label>
                <select class="ui search selection dropdown" formControlName="sample_type">
                    <option value="">Select sample type</option>
                    <option *ngFor="let sampleType of data?.sample_types" value="{{ sampleType.id }}">{{ sampleType.name }}</option>
                </select>
            </div>

            <div class="six wide field">
                <label>Cell Type</label>
                <select class="ui search selection dropdown" formControlName="cell_type">
                    <option value="">Select cell type</option>
                    <option *ngFor="let cellType of data?.cell_types" value="{{ cellType.id }}">{{ cellType.name }}</option>
                </select>
            </div>
        </div>

        <h2 class="ui header">
            Treatment Information
            <div class="sub header">Add information about compound treatments.</div>
        </h2>

        <div (click)="addTreatment('inhibitor')" class="ui small blue labeled icon button">
            <i class="plus icon"></i>Add inhibitor
        </div>
        <div (click)="addTreatment('probe')" class="ui small red labeled icon button">
            <i class="plus icon"></i>Add probe
        </div>

        <table *ngIf="treatments.controls.length" class="ui single line celled table">
            <thead>
                <th class="four wide">Name</th>
                <th class="two wide">Fraction</th>
                <th class="two wide">Treatment Type</th>
                <th class="one wide">Concentration</th>
                <th class="one wide">Time</th>
                <th class="three wide">Description</th>
                <th class="one wide">Remove</th>
            </thead>
            <tbody formArrayName="treatments">
                <tr *ngFor="let treatment of treatments.controls; let i=index;" class="treatment" [formGroupName]="i">
                    <td>
                        <div *ngIf="treatment.get('type').value == 'probe'" class="ui field">
                            <div class="ui red ribbon label">Probe</div>
                            <select class="ui search selection dropdown" formControlName="id">
                                <option value="">Select probe</option>
                                <option *ngFor="let probe of data?.probes" value="{{ probe.id }}">{{ probe.name }}</option>
                            </select>
                        </div>
                        <div *ngIf="treatment.get('type').value == 'inhibitor'" class="ui field">
                            <div class="ui blue ribbon label">Inhibitor</div>
                            <select class="ui search selection dropdown" formControlName="id">
                                <option value="">Select inhibitor</option>
                                <option *ngFor="let inhibitor of data?.inhibitors" value="{{ inhibitor.id }}">{{ inhibitor.name }}</option>
                            </select>
                        </div>
                    </td>
                    <td class="collapsing">
                        <div class="inline fields fraction" formGroupName="fraction">
                            <div class="ui field">
                                <div class="ui checkbox">
                                    <input type="checkbox" class="hidden" formControlName="light">
                                    <label>Light</label>
                                </div>
                            </div>                         
                            <div class="ui field">
                                <div class="ui checkbox">
                                    <input type="checkbox" class="hidden" formControlName="heavy">
                                    <label>Heavy</label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ui field">
                            <select class="ui search selection dropdown" formControlName="method">
                                <option value="">Select treatment type</option>
                                <option *ngFor="let treatmentType of data?.treatment_method_types" value="{{ treatmentType.name }}">{{ treatmentType.name }}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="ui required field">
                            <div class="ui right labeled input">
                                <input type="number" min="0" step="any" placeholder="4" formControlName="concentration">
                                <div class="ui basic label">&micro;M</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ui required field">
                            <div class="ui right labeled input">
                                <input type="number" min="0" step="any" placeholder="1" formControlName="time">
                                <div class="ui basic label">hours</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ui field">
                            <div class="ui input">
                                <input type="text" placeholder="i.p. 5x" formControlName="description">
                            </div>
                        </div>
                    </td>
                    <td (click)="removeTreatment(i)" class="center aligned"><i class="large red remove icon"></i></td>
                </tr>
            </tbody>
        </table>

        <h2 class="ui header">
            Search and Quantification
            <div class="sub header">Customize search and quantification parameters.</div>
        </h2>

        <div class="field">
            <div (click)="addDiffMod()" class="ui small blue labeled icon button">
                <i class="plus icon"></i>Add differential modification
            </div>
        </div>

        <table *ngIf="diffMods.controls.length" class="ui very basic collapsing table">
            <thead>
                <th>Mass</th>
                <th>Residue</th>
                <th>Remove</th>
            </thead>
            <tbody formArrayName="diffMods">
                <tr *ngFor="let mod of diffMods.controls; let i=index;" [formGroupName]="i">
                    <td>
                        <div class="ui field">
                            <div class="ui input">
                                <input type="number" min="0" step="any" placeholder="54.0078" formControlName="mass">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ui field">
                            <div class="ui input">
                                <input type="text" placeholder="C" formControlName="residue">
                            </div>
                        </div>
                    </td>
                    <td (click)="removeDiffMod(i)" class="center aligned"><i class="large red remove icon"></i></td>
                </tr>
            </tbody>
        </table>

        <div class="two fields">
            <div class="six wide required field">
                <label>IP2 Username</label>
                <input type="text" placeholder="IP2 username" required formControlName="ip2_username">
            </div>

            <div class="six wide required field">
                <label>IP2 Password</label>
                <input type="password" placeholder="IP2 password" required formControlName="ip2_password">
            </div>
        </div>

        <div *ngIf="files.length" class="field">
            <table class="ui basic table">
                <thead>
                    <tr>
                        <th width="80%">Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of files">
                        <td><strong>{{ item.name }}</strong></td>
                        <td nowrap>{{ item.size/1024/1024 | number:'1.2-2' }} MB</td>    
                    </tr>
                </tbody>
            </table>
            <div class="ui progress">
                <div class="bar" [style.width]="progress + '%'">
                    <div class="progress"></div>
                </div>
                <div class="label">Uploading Files</div>
            </div>
        </div>
        <div class="field">
            <button class="ui primary button" type="submit">Submit</button>

            <button type="button" class="ui button" onclick="document.getElementById('file-select').click()">
                <i class="file outline icon"></i> Select Raw Files
                <input type="file" id="file-select" multiple (change)="onFileChange($event)" required />
            </button>
        </div>
    </form>
</div>