<td>
    <div *ngIf="type == 'probe'" class="ui field">
        <div class="ui red ribbon label">Probe</div>
        <select class="ui search selection dropdown" formControlName="probe">
            <option value="">Select probe</option>
            <option *ngFor="let probe of data?.probes" value="{{ probe.id }}">{{ probe.name }}</option>
        </select>
    </div>
    <div *ngIf="type == 'inhibitor'" class="ui field">
        <div class="ui blue ribbon label">Inhibitor</div>
        <select class="ui search selection dropdown">
            <option value="">Select inhibitor</option>
            <option *ngFor="let inhibitor of data?.inhibitors" value="{{ inhibitor.id }}">{{ inhibitor.name }}</option>
        </select>
    </div>
</td>
<td class="collapsing">
    <div class="ui field">
        <div class="ui small buttons">
            <button (click)="toggleFraction($event, 'light')" [ngClass]="{green: info.light}" class="ui button">Light</button>
            <div class="or"></div>
            <button (click)="toggleFraction($event, 'heavy')" [ngClass]="{green: info.heavy}" class="ui button">Heavy</button>
        </div>
    </div>
</td>
<td>
    <div class="ui field">
        <select class="ui search selection dropdown">
            <option value="">Select treatment type</option>
            <option *ngFor="let treatmentType of data?.treatment_types" value="{{ treatmentType.id }}">{{ treatmentType.name }}</option>
        </select>
    </div>
</td>
<td>
    <div class="ui required field">
        <div class="ui right labeled input">
            <input type="number" min="0" placeholder="Probe concentration">
            <div class="ui basic label">&micro;M</div>
        </div>
    </div>
</td>
<td>
    <div class="ui required field">
        <div class="ui right labeled input">
            <input type="number" min="0" placeholder="Treatment time">
            <div class="ui basic label">hours</div>
        </div>
    </div>
</td>
<td>
    <div class="ui field">
        <div class="ui input">
            <input type="text" placeholder="i.p. 5x">
        </div>
    </div>
</td>
<td (click)="removeTreatment()" class="center aligned"><i class="large red remove icon"></i></td>
